@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400;500;700family=Lexend:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400;500;700family=Lexend:wght@600&display=swap");
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  font-family: "Merriweather", serif;
  color: #000000;
  position: relative;
  left: 10px;
}

.title::before {
  position: absolute;
  left: -10px;
  content: "";
  height: 24px;
  width: 5px;
  background: #ffca2c;
  margin-right: 5px;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  font-family: "Roboto", sans-serif;
  color: #212529;
}

.header {
  height: 691px;
  width: 100%;
  background-image: url("../images/backgroundHeader.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.header-top {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.header-menu {
  position: relative;
  top: 76px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.info {
  padding: 12px 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-left {
  display: flex;
  gap: 26px;
  align-items: center;
}
.info-left__icon {
  color: #c8392b;
}
.info-left__box:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-left__title {
  margin-left: 5px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.25px;
}
.info-left__title:nth-child(2) {
  width: 213px;
}
.info-right {
  display: flex;
  gap: 32px;
}
.info-right__box {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.info-right__image {
  object-fit: cover;
}
.info-contact {
  width: 28px;
  height: 28px;
  border: none !important;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 46px;
  font-family: "Merriweather", serif;
}
.menu-link {
  font-size: 14px;
  line-height: 18.2px;
  font-weight: 700;
  color: #ffffff;
}
.menu-logo {
  display: block;
  width: 120px;
  height: 120px;
}
.menu-logo__image {
  width: 100%;
  object-fit: cover;
}
.menu-search {
  display: flex;
}
.menu-search__icon {
  width: 40px;
  height: 39px;
  background: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none !important;
  outline: none !important;
  border-radius: 6px 0px 0px 6px;
}
.menu-search__input {
  width: 132px;
  height: 39px;
  border-radius: 0px 6px 6px 0px;
  background: #ffffff;
  border: none !important;
  outline: none !important;
  padding: 0 7px;
}

.hero-main {
  margin-top: -460px;
}
.hero-name, .hero-nameCity {
  text-align: center;
  color: #ffffff;
}
.hero-name {
  font-size: 40px;
  line-height: 52px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.hero-nameCity {
  font-weight: 400;
  font-size: 62px;
  line-height: 77.93px;
  font-family: "Merriweather", serif;
  margin-top: 25px;
}
.hero-btn {
  margin-top: 50px !important;
}
.hero-bottom {
  margin-top: 135px;
  padding: 30px 40px;
  height: 186px;
  background: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 33px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.hero-box {
  display: flex;
  gap: 17px;
  width: 337px;
  height: 124px;
  font-family: "Roboto", sans-serif;
}
.hero-box__date {
  font-size: 14px;
  line-height: 18.2px;
  font-weight: 400;
  color: #777777;
}
.hero-box__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #031739;
  margin-top: 16px;
  width: 192px;
}
.hero-box:nth-child(1), .hero-box:nth-child(2) {
  border-right: 0.5px solid #000000;
}

.btn {
  width: 148px;
  height: 51px;
  border-radius: 8px;
  border: none !important;
  cursor: pointer;
  color: #000000;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  display: block;
  margin: 0 auto;
}

.btn-stories {
  width: 237px;
  padding: 14px 22px;
  color: #c8392b;
  background: #ffffff;
  font-weight: 500;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  border: 1px solid #c8392b;
  border-radius: 8px;
}

.btn-red {
  width: 156px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 22px;
  border: none !important;
  background: #c8392b;
  border-radius: 8px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.btn-older {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 22px;
  gap: 30px;
  font-weight: 500;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  border: none !important;
}

.news {
  margin-top: 72px;
}
.news-number {
  width: 41px;
  height: 46px;
  border: none !important;
  border-radius: 6px 6px 0px 0px;
  background: #f7f7f7;
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news-number span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #c8392b;
  font-family: "Lexend", sans-serif;
}
.news-month {
  background: #c8392b;
  border-radius: 0px 0px 6px 6px;
  width: 41px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news-month span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Lexend", sans-serif;
}
.news-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 48px;
}
.news-box {
  max-width: 373px;
  display: flex;
  gap: 20px;
}
.news-box__title {
  width: 300px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25.14px;
  color: #212529;
  font-family: "Merriweather", serif;
}
.news-box__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-top: 6px;
}

.investor {
  margin-top: 72px;
}
.investor-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.investor-bottom {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.investor-box__img {
  width: 373px;
  height: 266px;
}
.investor-box__img img {
  width: 100%;
  object-fit: cover;
}
.investor-box__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #031739;
  font-family: "Merriweather", serif;
  margin-top: 16px;
}
.investor-box__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
  margin-top: 6px;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.subscribe {
  background: #fafafa;
  margin-top: 72px;
  padding: 26px 0;
}
.subscribe-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscribe-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  font-family: "Merriweather", serif;
  color: #000000;
}
.subscribe-text {
  width: 621px;
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #000000;
  line-height: 20.8px;
  margin-top: 8px;
}
.subscribe-btn {
  margin-top: 28px !important;
}

.cuture {
  padding: 72px 0;
  background: rgba(255, 205, 57, 0.5);
}
.cuture-content {
  margin-top: 48px;
  display: flex;
  gap: 20px;
}
.cuture-left__date {
  font-size: 14px;
  font-weight: 400;
  color: #777777;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}
.cuture-left__title {
  margin-top: 10px;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #031739;
  font-family: "Merriweather", serif;
}
.cuture-left__text {
  width: 758px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #777777;
  font-family: "Roboto", sans-serif;
}
.cuture-box {
  display: flex;
  gap: 16px;
  padding-bottom: 24px;
  border-bottom: 1px solid #000;
}
.cuture-box__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #031739;
  font-family: "Merriweather", serif;
}
.cuture-box__text {
  font-weight: 400;
  font-size: 14px;
  margin-top: 8px;
  color: #777777;
}
.cuture-box__link {
  display: block;
  margin-top: 12px !important;
}
.cuture-box__btn {
  margin-top: 40px !important;
}
.cuture-box:nth-child(2) {
  margin-top: 24px;
  border-bottom: 1px solid rgba(119, 119, 119, 0.4);
}

.food {
  margin-top: 72px;
}
.food-content {
  margin-top: 47px;
  display: flex;
  gap: 20px;
}
.food-left {
  width: 570px;
}
.food-left__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  font-family: "Merriweather", serif;
  color: #000000;
  margin-top: 12px;
}
.food-left__text {
  font-weight: 400;
  font-size: 16px;
  color: #777777;
  margin-top: 6px;
}
.food-box {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(119, 119, 119, 0.1);
}
.food-box__title {
  font-weight: 700;
  font-size: 18px;
  color: #031739;
  font-family: "Merriweather", serif;
}
.food-box__text {
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin-top: 18px;
  color: #777777;
}
.food-box:nth-child(n+2) {
  margin-top: 16px;
}
.food-btn {
  margin-top: 40px !important;
  display: block;
  margin: 0 auto;
}

.destination {
  margin-top: 72px;
}
.destination-content {
  margin-top: 48px;
  display: flex;
  gap: 21px;
}
.destination-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.destination-box {
  background: #212529;
}
.destination-box__title {
  padding-top: 17px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Merriweather", serif;
  color: #ffffff;
}
.destination-box__text {
  padding-top: 17px;
  padding-left: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  border: none !important;
  line-height: 20.8px;
  margin-top: 10px;
}
.destination-box__link {
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin-top: 12px;
  text-decoration: underline;
  cursor: pointer;
}
.destination-box__intro {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  font-family: "Merriweather", serif;
  width: 206px;
}
.destination-boxs {
  background: #212529;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer {
  background: rgba(236, 236, 236, 0.4);
  margin-top: 100px;
  font-family: "Roboto", sans-serif;
}
.footer-main {
  padding-top: 35px;
  display: flex;
  align-items: center;
  gap: 21px;
}
.footer-box__name {
  font-weight: 500;
  font-size: 24px;
  color: #031739;
}
.footer-box__content {
  width: 473px;
  font-weight: 400;
  font-size: 14px;
  color: #031739;
  margin-top: 8px;
}
.footer-box__agency {
  font-weight: 400;
  font-size: 14px;
  margin-top: 6px;
}
.footer-box__title {
  font-weight: 600;
  font-size: 16px;
  color: #031739;
}
.footer-box__info {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-box__info li {
  font-weight: 400;
  font-size: 14px;
  color: #031739;
}
.footer-box__serial {
  width: 173px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  margin-top: 24px;
}
.footer-box__serial i {
  color: #c8392b;
}
.footer-box__serial span {
  font-weight: 400;
  font-size: 10px;
  font-family: "Merriweather", serif !important;
  color: #777777;
  margin-left: 6px;
}
.footer-box:first-child {
  display: flex;
  gap: 10px;
}
.footer-bottom {
  height: 40px;
  background: rgba(119, 119, 119, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-bottom__text {
  text-align: center;
  padding: 8.5px 0;
  font-weight: 400;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #031739;
}

/*# sourceMappingURL=styles.css.map */
