.btn {
  width: 148px;
  height: 51px;
  border-radius: 8px;
  border: none !important;
  cursor: pointer;
  color: $color-black;
  font-weight: 500;
  font-family: $font-roboto;
  font-size: 18px;
  display: block;
  margin: 0 auto;
}
