.footer {
  background: rgba(236, 236, 236, 0.4);
  margin-top: 100px;
  font-family: $font-roboto;
  &-main {
    padding-top: 35px;
    display: flex;
    align-items: center;
    gap: 21px;
  }
  &-box {
    &__name {
      font-weight: 500;
      font-size: 24px;
      color: $color-title;
    }
    &__content {
      width: 473px;
      font-weight: 400;
      font-size: 14px;
      color: $color-title;
      margin-top: 8px;
    }
    &__agency {
      font-weight: 400;
      font-size: 14px;
      margin-top: 6px;
    }
    &__title {
      font-weight: 600;
      font-size: 16px;
      color: $color-title;
    }
    &__info {
      margin-top: 18px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      li {
        font-weight: 400;
        font-size: 14px;
        color: $color-title;
      }
    }
    &__serial {
      width: 173px;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      align-items: center;
      margin-top: 24px;
      i {
        color: $color-red;
      }
      span {
        font-weight: 400;
        font-size: 10px;
        font-family: $font-merriweather !important;
        color: $color-text;
        margin-left: 6px;
      }
    }
  }
  &-box:first-child {
    display: flex;
    gap: 10px;
  }
  &-bottom {
    height: 40px;
    background: rgba(119, 119, 119, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    &__text {
      text-align: center;
      padding: 8.5px 0;
      font-weight: 400;
      font-size: 14px;
      font-family: $font-roboto;
      color: $color-title;
    }
  }
}
