.header {
  height: 691px;
  width: 100%;
  background-image: url("../images/backgroundHeader.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  &-top {
    background: rgba(0, 0, 0, 0.3);
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
  }
  &-nav {
    // position: relative;
    // top: 76px;
    margin-top: 16px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  &-menu {
    display: flex;
    gap: 70px;
  }
}

.icon-open,
.icon-close {
  font-size: 45px;
  cursor: pointer;
  display: none;
  color: $color-white;
}

.icon-open:hover,
.icon-close:hover {
  color: $color-red;
}
