.investor {
  margin-top: 72px;
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-bottom {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  &-box {
    &__img {
      width: 373px;
      height: 266px;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
    &__title {
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
      color: #031739;
      font-family: $font-merriweather;
      margin-top: 16px;
    }
    &__text {
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;
      color: $color-text;
      margin-top: 6px;
      font-family: $font-roboto;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}
