@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400;500;700family=Lexend:wght@600&display=swap");

$font-merriweather: "Merriweather", serif;
$font-roboto: "Roboto", sans-serif;
$font-Lexend: "Lexend", sans-serif;

$color-white: #ffffff;
$color-text: #777777;
$color-black: #000000;
$color-title: #031739;
$color-red: #c8392b;
$bgr-destination: #212529;
